<!DOCTYPE html>
<html>
    <head>
        <script src = " https : // use.fontawesome . c om / a1c8b5ae1e.js " > </script>
        <title>Connexion</title>
    </head>
    <body bgcolor="white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
                <a class="navbar-brand" href="#"><img
                    src="../../assets/img/ins.png" 
                    alt=""
                    width="150px"
                    height="50px"
                    pandding-top="60"



                /></a>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="offset-9 navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                    <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-paper-plane"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Decouvrir"><i class="fa fa-compass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Profil"> <img
                            src="../../assets/img/IMG.jpg" 
                            alt=""
                            height="15px" 
                            width="15px" 
                            pandding-top="60"
                        /></a>
                </li>
                </ul>
                </div>
            </nav>
            <br>

            <!--  -->
            <div class="card col-12" style="background-color: white;">
                            <div class="card-header" style="text-align: center;">
                                <img src="../../assets/img/IMG.jpg" class="img-thumbnail"   alt=""
                                height="50px" 
                                width="90px" 
                                style="border-radius:50% !important"
                                pandding-top="60">
                                <div align="center">
                                    <table><td>
                                        Bousso_Ndiaye
                                    </td>
                                    <td>
                                        <a routerLink="/ModifierProfil">
                                            <button style="background-color: white ; border:grey">Modifier Profil</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a routerLink="/ModifierProfil">
                                            <i class="fa fa-cog"></i>
                                            <span class="sr-only">(current)</span></a>
                                    </td>
                                </table> 
                            </div>
                                <div align="center" display="aline-block">
                                    <table>
                                        <td>2 publications </td> 
                                   <td> <a class="nav-link" routerLink="/FileActualite">600bonnés</a></td>
                                   <td> <a class="nav-link" routerLink="/FileActualite">100bonnement</a></td>
                                    </table>
                                    </div>
                                    <div align="center">
                                        Bousso Ndiaye<br>
                                    
                                        Sénégalaise <br>
                                        Développeuse 
                                       

                                       </div>
                            </div>
        </div>
        
        </div>
        <br>
        <div class="container">

            <!--  -->
            <div class="card col-12">
                            <div>
                                <p>PUBLICATIONS</p>
                                
                               
     <div class="card-deck">
  <div class="card">
    <div class="card-body">
       <img src="../../assets/img/Women.png" class="img-thumbnail"   alt=""
                                width="100%" 
                                pandding-top="100%">
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img src="../../assets/img/imgbousso.jpg" class="img-thumbnail"   alt=""
                                width="100%" 
                                height="10%"
                                pandding-top="60">
    </div>
  </div> 
  </div>
        </div>
        </div>
        </div>
        
    </body>
    </html>