<!DOCTYPE html>
<html>
    <head>
        <script src = " https : // use.fontawesome . c om / a1c8b5ae1e.js " > </script>
        <title>Connexion</title>
    </head>
    <body bgcolor="white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
                <a class="navbar-brand" href="#"><img
                    src="../../assets/img/ins.png" 
                    alt=""
                    width="150px"
                    height="50px"
                    pandding-top="60"



                /></a>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="offset-9 navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                    <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-paper-plane"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Decouvrir"><i class="fa fa-compass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Profil"> <img
                            src="../../assets/img/IMG.jpg" 
                            alt=""
                            height="15px" 
                            width="15px" 
                            pandding-top="60"
                        /></a>
                </li>
                </ul>
                </div>
            </nav>
            <br>

            <!--  -->
            <div class="card col-8">
                            <div class="card-header">
                                <img src="../../assets/img/IMG.jpg" class="img-thumbnail"   alt=""
                                height="50px" 
                                width="80px" 
                                style="border-radius:50% !important"
                                pandding-top="60">
                                <div align="center">
                                    <table><td>
                                        Bousso_Ndiaye
                                    </td>
                                </table> 
                            </div>
                                
                            </div>
                            <div class="card border-primary mb-3" style="max-width: 18rem;">
                                <div class="card-header">Modifier Profil</div>
                                <div class="card-body text-primary">
                                         <a class="nav-link" routerLink="/Changer">changer nom utilisateur</a>
                                        <a class="nav-link" routerLink="/Modifier">changer de mot de passe</a>
                                        <a class="nav-link" routerLink="/signin">Déconnexion</a>      
                                                              </div>
                              </div>
        </div>
       
     
        </div>
    </body>
    </html>
