<!DOCTYPE html>
<html>

<head>
    <script src=" https : // use.fontawesome . c om / a1c8b5ae1e.js ">
    </script>
    <title>Decouvrir</title>
    <style>
        .col-2 {
            margin: 1vh;
            align-items: center;
        }
    </style>
    <link rel="stylesheet" href="contacta-decouvrir.component.css">
</head>

<body bgcolor="white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/FileActualite"><img src="../../assets/img/ins.png" alt="" width="150px" height="50px" pandding-top="60" /></a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="offset-9 navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-paper-plane"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Decouvrir"><i class="fa fa-compass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-heart"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Profil"> <img src="../../assets/img/IMG.jpg" alt="" height="15px" width="15px" style="border-radius:50% !important" pandding-top="60" /></a>
                    </li>


                </ul>
            </div>
        </nav>
        <br>

        <!--  -->
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="card col-2">
                            <div class="card-header">
                                <img src="../../assets/img/abo2.jpg" class="img-thumbnail" alt="">
                            </div>
                            <div class="card-body">
                                <h4>Babs</h4>
                                <p>Vous suit</p>
                                <a href="" class="btn btn-primary">s'abonner</a>
                            </div>
                        </div>
                        <div class="card col-2">
                            <div class="card-header">
                                <img src="../../assets/img/abo3.jpg" class="img-thumbnail" alt="">
                            </div>
                            <div class="card-body">
                                <h4>Juliana</h4>
                                <p>Vous suit</p>
                                <a href="" class="btn btn-primary">s'abonner</a>
                            </div>
                        </div>
                        <div class="card col-2">
                            <div class="card-header">
                                <img src="../../assets/img/abo4.jpg" class="img-thumbnail" alt="">
                            </div>
                            <div class="card-body">
                                <h4>Rayan</h4>
                                <p>Vous suit</p>
                                <a href="" class="btn btn-primary">s'abonner</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</body>

</html>