<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Connexion</title>
    </head>
    <body bgcolor="white"> -->
        <div class="container">
            <div class="card offset-4 col-4">
                <div class="card-body">
                    
                        <div style="background-color:white; color:black; padding:10px;">
                    
                            <div class="centrer"><img src="../../assets/img/ins.png" width="150px" height="50" class="img-thumbnail" alt="" style="border: white;"></div>
                    
                    </div>
                    <br>
                    <div>
                        <form method="post" #form="ngForm"  (ngSubmit)="login(form)">
                            <div class="form-group text-center">
                               
                                <input ngModel type="text"  class="form-control" value=" Numéro de mobile ou e-mail" style="font-size:10px" >
                            </div>
                            <div class="form-group text-center">
                                <input ngModel type="password" class="form-control" value="Mot de passe" style="font-size:10px">
                            </div>
                            

                            <div class="form-group text-center">
                               
                                    <a  ngModel href="" routerLink="/FileActualite"  class="btn btn-primary" width="200px">
                                       
                                        Connexion
                                    </a>
                            </div>

                        </form>
                    </div>
                
                    <div>
                        <div style="font-size:13px; text-align: center">
                            <a href="https://fr-fr.facebook.com/login/">
                                <img src="../../assets/img/face.png"  width="20px" height="20px"  alt=""/>
                                Se Connecter avec Faceboock
                            </a>
                        </div>
                        <br>
                        <div style="font-size:13px; text-align: center">
                    
                            <a href="https://fr-fr.facebook.com/login/" style="color:black; text-align:center">Mot de passe Oublier</a>
                        </div>
                    </div>
                </div>
                </div>
                <br>
                <div class="container">
                    <div class="card offset-4 col-4">
                        <div class="card-body" style="font-size:14px">

                            <a routerLink="/signup" style="color:blue; text-align:center">Vous n'avez pas de compte? Inscrivez-vous</a>
                            </div>
                            </div>
                            </div>
                            <br>
                            
                            <div style="text-align: center; color:slategrey; font-size:10px">
                                Téléchargez l’application.
                            </div>
                            <br>
                            <div style="text-align: center; color:slategrey; font-size:10px">
                            
                                <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo">
                                     <img src="../../assets/img/ios-store.jpg"  width="100px" height="30px"  alt=""/>
                                    </a>
                                    &nbsp;
                                    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3DAF8BE90C-A1B5-443F-8622-C0D4BED0E751%26utm_content%3Dlo%26utm_medium%3Dbadge">
                                        <img src="../../assets/img/Google-Play-Badgeb.png"  width="100px" height="30px"  alt=""/>
                                       </a>
   
                                
            </div>

              </div>
        
    <!-- </body>
</html> -->