<!DOCTYPE html>
<html>
    <head>
        <script src = " https : // use.fontawesome . c om / a1c8b5ae1e.js " > </script>
        <title>Inscription</title>

    </head>
    <body bgcolor="white">    
        <div class="container">
            <div class="card offset-4 col-4">
                <div class="card-body">
                    <div>
                        <div style="background-color:white; color:black; padding:10px;">
                        
                            <div class="centrer"><img src="../../assets/img/ins.png" width="150px" height="50" class="img-thumbnail" alt="" style="border: white;"></div>
                        </div>
                        <div style="text-align: center; color:slategrey; font-size:13px">
                            Inscrivez-vous pour voir les photos et vidéos de vos amis.
                        </div>
                        <br>
                            <div style="font-size:13px; text-align: center "  width="80px" height="20px">
                                <a href="https://fr-fr.facebook.com/login/"  class="btn btn-primary">
                                    <img src="../../assets/img/f.png"  width="30px" height="20px"  alt=""/>
                                    Se Connecter avec Faceboock
                                </a>
                            </div>
                           
                            <br>
                    </div>
                    <div>
                        <form method="post" #form="ngForm" >
                            <div class="form-group text-center">
                              
                                <input ngModel type="text"  class="form-control" value=" Nom" style="font-size:10px" >
                            </div>
                            <div class="form-group text-center">
                                <input ngModel type="text" class="form-control"  value="Prenom"style="font-size:10px">
                            </div>
                            <div class="form-group text-center">
                                <input ngModel type="text" class="form-control"  value="Pseudo " style="font-size:10px">
                            </div>
                            <div class="form-group text-center">

                                <input ngModel type="text" class="form-control" value="Email" style="font-size:10px">
                            </div>
                            <div class="form-group text-center">

                                <input ngModel type="text" class="form-control" value="Password" style="font-size:10px">
                            </div>
                            <div class="form-group text-center">

                                <input ngModel type="text" class="form-control" value="Confirmer Password" style="font-size:10px">
                            </div>
                            <div class="form-group text-center">

                                <input ngModel type="text" class="form-control" value="Description" style="font-size:10px">
                            </div>
                            <div class="form-group text-center">

                                <input ngModel type="text" class="form-control" value="Sexe" style="font-size:10px">
                            </div>
                            <div class="form-group text-center">

                                <input ngModel type="text" class="form-control" value="Avatar" style="font-size:10px">
                            </div>
                            <div class="form-group text-center"  width="80px" height="10px">
                                <p align="center">
                                <input ngModel  type="submit" value="Inscrire" style="font-size:10px" style="border-color:lightgray;">
                                </p>
                            </div>
                        </form>   
                     </div>
                     <div style="text-align: center; color:slategrey; font-size:10px">
                        En vous inscrivant, vous acceptez nos Conditions générales. Découvrez comment nous recueillons, utilisons et partageons vos données en lisant notre Politique d’utilisation des données et comment nous utilisons les cookies et autres technologies similaires en consultant notre Politique d’utilisation des cookies.

                     </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="card offset-4 col-4">
                    <div class="card-body" style="font-size:13px">

                        <a routerLink="/signin" style="color:blue; text-align:center">Vous avez un compte ? Connectez-vous</a>
                        </div>
                        </div>
                        </div>
         </div>
                                       
    </body>
</html>