<!DOCTYPE html>
<html>
    <head>
        <title>Connexion</title>
    </head>
    <body bgcolor="white">
        <div class="container">
            <div class="card offset-4 col-4">
                <div class="card-body">
                    <div>
                        <div style="background-color:white; color:black; padding:10px;">
                        
                            <div class="centrer"><img src="../../assets/img/ins.png" width="150px" height="50" class="img-thumbnail" alt="" style="border: white;"></div>
                        </div>
                    </div>
                    <div>
                        <form>
                            <div class="form-group text-center">
                               
                                <input type="text" class="form-control" value="Nouveau nom utilisateur">
                            </div>
                           
                            <div class="form-group text-center">
                                <p align="center">
                                <input ngModel type="submit" value="Modifier" class="btn btn-primary" style="font-size:15px; width:150px; height:57px; text-align:center" >
                                </p>
                                
                               
                               
                            </div>
                        </form>
                    </div>
                  
                </div>
                </div>
              
              </div>
        
    </body>
</html>
