<!DOCTYPE html>
<html>
    <head>
        <script src = " https : // use.fontawesome . com / a1c8b5ae1e.js " > </script>
        <title>Connexion</title>
        <link rel="stylesheet" href="file-actualite.component.css">
    </head>
    <body bgcolor="white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
                <a class="navbar-brand" href="#"><img
                    src="../../assets/img/logo1.jpg" 
                    alt=""
                    width="50px"
                    height="50px"
                    style="border-radius:50% !important"
                    pandding-top="60"
                /></a>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="offset-9 navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                    <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink="/FileActualite"><i class="fa fa-paper-plane"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Decouvrir"><i class="fa fa-compass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Profil"> <img
                            src="../../assets/img/IMG.jpg" 
                            alt=""
                            height="15px" 
                            width="15px" 
                            style="border-radius:50% !important"
                            pandding-top="60"
                        /></a>
                </li>
                </ul>
                </div>
            </nav>

            <!--  -->
            <div class="card col-8">
                <div class="card-header">
                    <div class="media">
                        <img src="../../assets/img/IMG.jpg" width="30px" height="30px" style="border-radius:50% !important" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0">Bousso</h5>
                        </div>
                      </div>
                      <br>
                    <div><img src="../../assets/img/abo11.jpg"  width="100%" height="20px"  class="img-thumbnail" alt=""></div>
                </div>
                <div class="card-boby">
                    <div  class="row col-12">
                        
                                <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-comment-o"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-paper-plane"></i></a>
    
                    </div>
                    <div>16 Jaime <br>
                      Fatou a commenté  Félicitation
                    </div>
                    <div> </div>
                    <div>
                        <form action="">
                            <div class="form-row">
                                <input type="text" name="" class="col-9 form-control" id="">
                                <input type="submit" class=" btn btn-outline-success" style="margin-left: 10px"value="publier">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <br>
                <br>


                <div class="card col-8">
                <div class="card-header">
                    <div class="media">
                        <img src="../../assets/img/abo5.jpg" width="30px" height="30px" style="border-radius:50% !important" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0">Juliana</h5>
                        </div>
                      </div>
                      <br>
                    <div><img src="../../assets/img/abo3.jpg" width="100%" class="img-thumbnail" alt=""></div>
                </div>
                <div class="card-boby">
                    <div  class="row col-12">
                        
                                <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-comment-o"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-paper-plane"></i></a>
    
                    </div>
                    <div>16 Jaime <br>
                        Gnagna à commenté jolie photo
                    </div>
                    <div>
                        <form action="">
                            <div class="form-row">
                                <input type="text" name="" class="col-9 form-control" id="">
                                <input type="submit" class=" btn btn-outline-success" style="margin-left: 10px"value="publier">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <br>
                <br>


                <div class="card col-8">
                <div class="card-header">
                    <div class="media">
                        <img src="../../assets/img/IMG.jpg" width="30px" height="30px" style="border-radius:50% !important" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0">Bousso</h5>
                        </div>
                      </div>
                      <br>
                    <div><img src="../../assets/img/imgbousso.jpg"  width="100%" height="20px"  class="img-thumbnail" alt=""></div>
                </div>
                <div class="card-boby">
                    <div  class="row col-12">
                        
                                <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-comment-o"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-paper-plane"></i></a>
    
                    </div>
                    <div>16 Jaime <br>
                      Binta  a commenté  Nice
                    </div>
                    <div> </div>
                    <div>
                        <form action="">
                            <div class="form-row">
                                <input type="text" name="" class="col-9 form-control" id="">
                                <input type="submit" class=" btn btn-outline-success" style="margin-left: 10px"value="publier">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
    </body>
    </html>